<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <!-- variables -->
    <h1 class="title">Titulo</h1>
    <div class="container">
        hola <br>
        este es el contenedor
    </div>
    <!-- mixin -->
    <div class="blue-sq">div blue</div>
    <div class="red-sq">div red</div>
    <!-- extend (herencia) -->
    <button class="confirm">Aceptar</button>
    <button class="cancel">Cancelar</button>

    <!-- nesting -->
    <!-- este es un clasico nav de css -->
    <ul>
        <li><a href="#home">Inicio</a></li>
        <li><a href="#home">Productos</a></li>
        <li><a href="#home">Contacto</a></li>
        <li><a href="#home">About</a></li>
    </ul>


    <!-- operaciones -->
    <div class="cl-50">aa</div>
    <div class="cl-100">bb</div>
    <!-- imagenes -->
    <img id="img1" width="460" height="365">
    <img id="img2" width="460" height="365">
    <img id="img3" width="460" height="365">
    <img id="img4" width="460" height="365">
    <img id="img5" width="460" height="365">
</body>

</html>